<!DOCTYPE html>
<html>
  <head>
    <title>Edit Article</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Edit Article</h1>
    <form action="/admin/edit/<%= article.publishingDate %>" method="POST">
      <input
        type="text"
        name="title"
        value="<%= article.title %>"
        required
      /><br />
      <textarea name="content" required><%= article.content %></textarea><br />
      <input
        type="date"
        name="date"
        value="<%= article.publishingDate %>"
        required
      /><br />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
