<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
  </head>
  <body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <p><strong>Published on:</strong> <%= article.date %></p>
    <a href="/">Back to home</a>
  </body>
</html>
