<%- include("partials/header.ejs", { pageTitle: status + " - Error" }) %>

<h1><%= status %> - Internal Server Error</h1>
<p><%= message %></p>
<p><a href="/">Return to Home</a></p>

<%- include("partials/footer.ejs") %>
