<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <a href="/admin/add">Add New Article</a>

    <ul>
      <% articles.forEach(article => { %> <% const dateObj = new
      Date(article.publishingDate); const formattedDate =
      dateObj.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day:
      'numeric' }); %>
      <li>
        <strong><%= article.title %></strong> - <%= formattedDate %>
        <a href="/admin/edit/<%= article.publishingDate %>">Edit</a> |
        <a href="/admin/delete/<%= article.publishingDate %>">Delete</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
